* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  background-color: #f1f5f9;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.container {
  width: 100%;
  max-width: 377px;
}

.card {
  background: #ffffff;
  border-radius: 16px;
  padding: 24px 16px 24px 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.title {
  font-size: 20px;
  font-weight: 600;
  font-style: Semibold;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  height: 38px;
  width: 345px;
  gap: 10px;
  margin-bottom: 20px;
}

.input-group input {
  height: 40px;
  width: 280px;
  padding: 8px 16px 8px 16px;
  border: 1px solid #e4e4e7;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
}

.btn-primary {
  height: 40px;
  width: 59px;
  padding: 8px 16px 8px 16px;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #2563eb;
}

.filters {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
  display: flex;
  text-align: center;
}
#filter-btn-all {
  height: 32px;
  width: 38px;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#filter-btn-all:hover {
  background-color: #2563eb;
}

#filter-btn-active {
  height: 32px;
  width: 54px;
  background-color: #f3f4f6;
  color: #363636;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#filter-btn-active:hover {
  background-color: #e0e7ff;
}
#filter-btn-completed {
  height: 32px;
  width: 87px;
  background-color: #f3f4f6;
  color: #363636;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#filter-btn-completed:hover {
  background-color: #e0e7ff;
}

.task-list {
  list-style: none;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-list-item {
  width: 100%;
  height: 62px;
  padding: 12px 16px;
  background-color: #f9fafb;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task-item-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.task-list-item input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.task-text {
  color: #000000;
  font-weight: 400;
}
.delete_btn {
  height: 30px;
  width: 67px;
  background-color: #fef2f2;
  border: none;
  color: #ef4444;
  cursor: pointer;
  font-size: 14px;
  display: none;
}
.delete_btn:hover {
  background-color: #ffe0e0;
}

.empty-message {
  text-align: center;
  color: #94a3b8;
  padding: 2rem 0;
}

.hidden {
  display: none;
}

.footer {
  text-align: center;
  color: #94a3b8;
  font-size: 0.875rem;
  margin-top: 2rem;
}

.footer a {
  color: #3b82f6;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.completed {
  text-decoration: line-through;
  color: #94a3b8;
}
.show_delete {
  display: block;
}
.result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  border-top: 1px solid #e4e4e7;
  padding-top: 12px;
}
.result p{
  font-size: 14px;
  color: #6B7280;
  font-weight: 400;
  font-style: normal;

}
.result button{
  height: 17px;
  width: 109px;
  background-color: white;
  color: #EF4444;
  border: none;
 
  cursor: pointer;
  font-size: 14px;
}
